
body{
    font-family: 'Raleway';
    background-color: #d8f3ee ;
}

.container-fluid{

    padding-left: 3vw;
    padding-right: 3vw;

}

.navbar{
    padding-bottom:2px;
    padding-top:2px;
    margin-bottom: 1.5vw;
}

.navbar-toggler-icon{
    width: 20px;
}

.header-body{
    font-size: calc(100% + 0.8vw);
}

.par-body{
    font-size: calc(100% + 0.4vw);
    /* text-align: justify; */
}

.card-body .par-body{
    text-align: justify;
    color: #d8f3ee;
}

.card-header .btn{
    text-align: left;
    color: #d8f3ee;
    font-weight: 300;
    border-width: 0px;
}

.card-header{
    border-width: 0;
    margin-bottom: 0;
}

.btn:focus {outline:none !important;box-shadow: none !important;}

.card-body{
    padding: 3vw;
    background-color: #55595e;
}

.card-header{
    padding: 1vw;
    background-color: #343a40;
}

.navbar-dark a {
    font-size: calc(80% + 0.4vw);
}

.navbar-dark .navbar-text{
    font-size: calc(150% + 1vw);
    font-weight: 100;
    padding-right: 4vw;
    color:#d8f3ee;
}

.myperson{
    width: 20%;
    min-width: 100px;
    float: right;
}


@media (min-width: 600px) {
    .accordion {
      display: none;
    }
  }

@media (max-width: 600px) {
    .long-text {
      display: none;
    }
  }