
body{
    font-family: 'Raleway';
    background-color: #d8f3ee ;
}

.container-fluid{

    padding-left: 3vw;
    padding-right: 3vw;

}

.navbar{
    padding-bottom:2px;
    padding-top:2px;
    margin-bottom: 1.5vw;
}

.navbar-toggler-icon{
    width: 20px;
}

.header-body{
    font-size: calc(100% + 0.8vw);
}

.par-body{
    font-size: calc(100% + 0.4vw);
    text-align: justify;
}

.navbar-dark a {
    font-size: calc(80% + 0.4vw);
}

.navbar-dark .navbar-text{
    font-size: calc(150% + 1vw);
    font-weight: 100;
    padding-right: 4vw;
    color:#d8f3ee;
}

.myperson{
    width: 25%;
    min-width: 195px;
    position: fixed;
    right: calc(5vw);
    bottom: 0;
    filter: drop-shadow(-10px 10px 10px rgb(0, 0, 0));
    animation: appear 2s;
    animation-fill-mode: forwards;
}

/* @keyframes appear {
    0% { left: 100%;  }
    100% { left: 65%;  }  
 } */

@media (max-width: 300px) {

    .myperson{
        width: 25%;
        min-width: 195px;
        position: fixed;
        display: block;
        left: 50%;
        margin-left: -97.5px;
        bottom: 0;
        filter: drop-shadow(-10px 10px 10px rgb(0, 0, 0));
        animation: appear 2s;
        animation-fill-mode: forwards;
    }

  }